$primary-color: #4CAF50;
$padding-top: 30px;
$margin-top: 20px;
$margin-bottom: 5px;
$margin-left: 20px;

.container {
  padding-top: $padding-top;
}

.category-title {
  color: $primary-color;
  font-weight: bold;
  margin-top: $margin-top;
}

.category-list {
  margin-left: $margin-left;
  list-style-type: disc; // Ensures bullets are displayed

  li {
    margin-bottom: $margin-bottom; // Adds some space between items
  }
}
